@import "tailwindcss";

:root {
  --champagne-pink: #EED7C5;
  --ghost-white: #f4edeb;
  --thistle: #C89F9C;
  --thistle-dark: #775a58;
  --medium-slate-blue: #736CED;
  --auburn: #871D20;
  --foreground: ;
  --pure-white: #FFFFFF;
}



@theme inline {
  --color-background: var(--champagne-pink);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--auburn);
  --color-secondary: var(--thistle-dark);
  --color-tertiary: var(--thistle);
  --color-white: var(--ghost-white);
  --color-red: var(--auburn);
  --color-pure-white: var(--pure-white);
  --text-xl: 23px;
}


body {
  background: var(--color-background);
  color: var(--color-red-950);
  font-family: "Helvetica", sans-serif;
}

#contact-text {
  transition: transform 0.3s ease;
}

#contact-button:hover #contact-text {
  transform: rotate(6deg);
}
